{% extends 'mychatapp/base.html' %}

{% block content %}

<div class="container bg-slate-50 max-w-[393px] w-full min-h-[100vh] h-full mx-auto shadow-transparent rounded-sm">

    <section class="h-28 flex justify-between items-center p-4 border-b">
        <div>
            <h1 class="font-bold text-2xl text-indigo-600">ChatMe</h1>
        </div>
        <div class="flex flex-col justify-center items-center">
            <div class="flex justify-center items-center bg-indigo-200 w-11 h-11 rounded-full">
                <img src="{{user.pic.url}}" class="w-11 h-11 rounded-full object-contain" alt="">
            </div>
            <div>
                <h3 class="font-semibold">@{{request.user.username}}</h3>
            </div>
        </div>
    </section>

    <section class="my-4 p-4">
        <div class="flex justify-center items-center">
            <h1 class="font-bold text-2xl">Messages</h1>
        </div>
        {% for friend in friends %}
        <div class="rounded-xl my-2 shadow-lg bg-pink-300 flex justify-between items-center p-4">
            <div class="flex justify-center items-center bg-indigo-200 w-11 h-11 rounded-full">
                <img src="{{friend.profile.pic.url}}" class="w-11 h-11 rounded-full object-contain" alt="">
            </div>
            <div class="flex justify-center items-center flex-col">
                <a href="/chats/friends/{{friend.profile.id}}" class="font-semibold">{{friend.profile.name}}</a>
                <p>Hi!, How are you?</p>
            </div>
            <div class="bg-indigo-700 text-white p-1 rounded-full w-9 h-9 flex justify-center items-center msgCount">0</div>
        </div>
        {% endfor %}
    </section>

</div>


<script>

    setInterval(getNotification, 1000)

    function getNotification(){
        let url = "{% url 'notification' %}"

        fetch(url)
        .then(res=>res.json())
        .then(data=>{
            console.log(data)
            let chatNotificationBtn = document.getElementsByClassName("msgCount");
            for(let i=0; i<data.length; i++){
                chatNotificationBtn[i].innerText = data[i];
            }
        })
        .catch(error => console.log(error))
    }

</script>
        
{% endblock %}